.name {
	margin-top: 20px;
	margin-bottom: 4px;
	font-weight: 500;
	height: 18px;
	font-size: 15px;
	color: #1a2328;
}

.species {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 130%;
	margin-top: 0;
	margin-bottom: 20px;
	color: #484f53;
}

.species-dark {
	font-weight: 500;
	height: 18px;
	font-size: 15px;
	line-height: 130%;
	margin-top: 0;
	margin-bottom: 20px;
	color: #1a2328;
}
