.tr {
	height: 83px;
	width: 100%;
	border-bottom: 1px solid #e5eaf0;
}

.tr-dead {
	background-color: #f6f8fa;
}

.tr td {
	padding: 0;
	padding-right: 30px;
}

.tr td img {
	width: 50px;
	height: 50px;
	border-radius: 15px;
	border: 2px dashed #e5eaf0;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tr td:first-child {
	text-align: center;
	width: 64px;
}

.tr td:first-child input {
	margin-top: 24px;
	margin-bottom: 41px;
}

.status {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.status p {
	margin-left: 8px;
}

td:nth-child(1) {
	width: 64px;
	position: relative;
	z-index: 10;
	padding: 0;
}

td:nth-child(2) {
	width: 280px;
}

td:nth-child(3),
td:nth-child(4),
td:nth-child(5) {
	position: relative;
	width: 220px;
}

td:nth-child(6) {
	width: 130px;
}
